.contentbuttons {
    margin-top: 30px;
}
.buttons {
    width: 300px;
    height: 30px;
    margin: auto;
    margin-top: 13px;
    display: block;
    background-color: #8d99ae;
    text-align: center;
    border: 1px solid #8d99ae;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
}