.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer div {
    width: 20px;
    height: 20px;
    position: fixed;
    display: block;
    bottom: 10px;
    background-color: #8d99ae;
    border: 1px solid #2b2b42;
    border-radius: 4px;
    color: #2b2b42;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}